# Python Basic Lecture notes

### Workshop 18.03.2019

#### A very brief introduction to basic python


* Data types and basic operations
    * Numbers
    * Strings
    * Booleans
    * Comparison operators
    * Logic operators
    
* Data structures
    * Lists
* built in functions
    * print
    * range
    * map
* methods

* make you own functions
* for Loops

* Other data structures
    * Dictionaries
    * Tuples 
    * Sets

___

<h3 align="center">Data types and basic operations</h3>

### Numbers

Can have int, long, float & complex numbers - we will only talk about integers and floats

In [18]:
# Integers
9

9

In [19]:
type(9)

int

In [20]:
# float
9.0

9.0

In [22]:
type(9.0)

float

In [24]:
9+9

18

In [26]:
9.0+9

18.0

plus, minus, divide, multiplied, power of,

In [27]:
2+2

4

In [28]:
4-2

2

In [29]:
4*4

16

In [30]:
4**2

16

### Strings

Create string variables by enclosing characters in quotes.

In [32]:
"this is a string you can use"

'this is a string you can use'

In [34]:
"Hello" + "World!"

'HelloWorld!'

### Boleans

True and False as subtype of integers, representing 1 (True), and 0 (False). Used in logical operations.

In [4]:
# Example 
True + 7

8

In [39]:
False

False

In [41]:
True and False

False

In [43]:
False and True

False

In [45]:
True and True

True

In [47]:
True or False

True

In [130]:
False or False

False

### Comparison operators

In [132]:
1 > 2

False

In [134]:
1 < 2

True

In [136]:
2 == 3

False

In [138]:
2 == 2

True

### Logic operators

In [140]:
(1<2) and (2<3)

True

In [142]:
(1<2) and (4<3)

False

In [143]:
(1<2) or (4<3)

True

___

<h3 align="center">Data structures</h3>

### Lists

In [53]:
my_list_of_numbers = [1,2,3,4,5,6]

my_list_of_numbers

[1, 2, 3, 4, 5, 6]

In [111]:
my_list_of_strings = ['hello', 'world', 'what', 'is', 'up']

my_list_of_strings

['hello', 'world', 'what', 'is', 'up']

#### How to axcess items in list

In [114]:
# Index: [0] [1] [2] [3]
# List:  [1] [2] [3] [4]


my_list_of_numbers[1]

2

In [116]:
# Index:    [0]        [1]       [2]    [3]    [4]
# List:  ['hello'] ['world'] ['what'] ['is'] ['up']

my_list_of_strings[4]

'up'

___

<h3 align="center">Built in functions</h3>

The Python interpreter has a number of functions that are always available for use. These functions are called built-in functions. For example, print() function prints the given object to the standard output device (screen) or to the text stream file.

### print ( )

In [55]:
print('Hello world!')

Hello world!

In [58]:
string1 = 'Hello'
space = ' '
string2 = 'World!'

print(string1 + space + string2)

Hello World!

In [61]:
print(2+5)

7

### range ( )

In [62]:
range(10)

range(0, 10)

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
a = range(0,100,5)

In [68]:
list(a)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

### map ( )

In [75]:
# aplies the function "len( )" to all objects in the list

my_list_of_strings

['hello', 'world', 'what', 'is', 'up']

In [77]:
list(map(len,my_list_of_strings))

[5, 5, 4, 2, 2]

___

<h3 align="center">Methods</h3>

A method is a function that “belongs to” an object.

For example, list objects have methods called append, insert, remove, sort, and so on.

### Example: String

In [86]:
string = "hello world"

In [87]:
string.upper()

'HELLO WORLD'

In [89]:
string.split()

['hello', 'world']

In [92]:
string.split('o')

['hell', ' w', 'rld']

### Example: List

In [97]:
my_list_of_numbers

[1, 2, 3, 4, 5, 6, 7, 7]

In [103]:
# append the input item to the end of the list
my_list_of_numbers.append(7)

In [98]:
my_list_of_numbers

[1, 2, 3, 4, 5, 6, 7, 7]

In [102]:
# return last item in list, and delete it from the list
my_list_of_numbers.pop()

6

In [101]:
my_list_of_numbers

[1, 2, 3, 4, 5, 6]

___

<h3 align="center">Write your own functions</h3>

#### A simple function

In [104]:
# Write code here..

def add_two_numbers(one,two):
    
    answer = one+two
    
    return answer

In [105]:
'''Test function'''

add_two_numbers(4,9)

13

___

<h3 align="center">For loops</h3>

### For loops

In [107]:

for item in [1,2,3,4]:
    print(item)

1
2
3
4

In [109]:
for item in [1,2,3,4]:
    print('Hello!')

Hello!
Hello!
Hello!
Hello!

In [110]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

___

<h3 align="center">Other structures</h3>

### Touples

In [117]:
my_touples = (1,5)

In [122]:
# Same type of picking items in touples as in list
my_touples[0]

1

### Sets

In [125]:
{1,2,3,4}

{1, 2, 3, 4}

In [127]:
{1,2,3,4,1,2,3,4,1,2,1,2,1,1,}

{1, 2, 3, 4}

### Dictionaries

In [128]:
d = {'key1':'item1','key2':'item2'}

In [129]:
d['key1']

'item1'

___

# Feel free to ask questions!